header {
    background: #fff;
    padding: 2px;
    margin: 20px;
    border-left: 1px dotted #ccc;
    border-bottom: 0;
}

header:before {
    color: #777;
    font-size: 1.4rem;
    content: "<header>"
}

header:after {
    color: #777;
    font-size: 1.4rem;
    content: "</header>"
}

main {
    padding: 2px;
}

main:before {
    color: #777;
    font-size: 1.4rem;
    content: '<main>'
}

main:after {
    color: #777;
    font-size: 1.4rem;
    content: '</main>'
}

article {
    background: #fff;
    padding: 2px;
    margin: 20px;
    border-left: 1px dotted #ccc;
    border-bottom: 0;
}

article:before {
    color: #777;
    font-size: 1.4rem;
    content: "<article>"
}

article#stick:before {
    content: '<article id="stick" class="box">'
}

article:after {
    color: #777;
    font-size: 1.4rem;
    content: "</article>"
}


h1, h2, h3 {
    color: #000 !important;
    font-size: 1.3rem !important;
    font-weight: normal !important;
    background: #fff;
}

h1:before {
    color: #777;
    font-size: 1.4rem;
    content: "<h1>"
}

h1:after {
    color: #777;
    font-size: 1.4rem;
    content: "</h1>"
}

h2 {
    background: #fff;
    border: 0 !important;
}

h2:before {
    color: #777;
    font-size: 1.4rem;
    content: "<h2>"
}

h2:after {
    color: #777;
    font-size: 1.4rem;
    content: "</h2>"
}

article p {
    background: #fff;
    margin: 1rem 0;
}

article p:before {
    color: #777;
    font-size: 1.4rem;
    content: "<p>"
}

article p:after {
    color: #777;
    font-size: 1.4rem;
    content: "</p>"
}

ul {
    font-size: 1.4rem;
    background: #fff;
    padding-left: 20px;
}

ul:before {
    color: #777;
    font-size: 1.4rem;
    content: "<ul>"
}

ul:after {
    color: #777;
    font-size: 1.4rem;
    content: "</ul>"
}

li {
    border-left: 1px dotted #ccc;
    list-style: none;
    padding-left: 20px;
    background: #fff;
}

li:before {
    color: #777;
    font-size: 1.4rem;
    content: "<li>"
}

li:after {
    color: #777;
    font-size: 1.4rem;
    content: "</li>"
}

footer {
    background: #fff;
    padding: 2px;
    margin: 20px;
    border-left: 1px dotted #ccc;
}

footer:before {
    color: #777;
    display: block;
    font-size: 1.4rem;
    text-align: left;
    content: "<footer>";
}

footer:after {
    color: #777;
    display: block;
    font-size: 1.4rem;
    text-align: left;
    content: "</footer>"
}